# Working with SQL

-> SQL stands for **Structured Query Language.**

-> SQL is a standard language for storing, manipulating and retrieving data in databases.

-> Our SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres, and other database systems.

### 1. Importing Pandas

In [1]:
import pandas as pd

### 2. Installing mysql.connector

In [2]:
pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.2/11.9 MB 2.1 MB/s eta 0:00:06
      --------------------------------------- 0.3/11.9 MB 1.9 MB/s eta 0:00:07
     - -------------------------------------- 0.3/11.9 MB 1.9 MB/s eta 0:00:07
     - -------------------------------------- 0.4/11.9 MB 2.0 MB/s eta 0:00:06
     - -------------------------------------- 0.5/11.9 MB 1.9 MB/s eta 0:00:06
     -- ------------------------------------- 0.6/11.9 MB 2.0 MB/s eta 0:00:06
     -- ------------------------------------- 0.7/11.9 MB 2.1 MB/s eta 0:00:06
     -- ------------------------------------- 0.8/11.9 MB 2.0 MB/s eta 0:00:06
     --- ------------------------------------ 1.0/11.9 MB 2.1 MB/s eta 0:00:06
     --- ------------------------------------ 1.1/11.9 MB 2.1 MB/s eta 0:00:06
     --- ------------------------------------ 1.1/11.9 MB 2.1 MB/s eta 0:00:06
     ---- ----------------------------------- 1.2/11.9 MB 2.2 MB/s eta 0:00:05
     ---- ----------------------------------- 1.4/11.9 MB 2.2 MB/s eta 0:00:05
     ----- ---------------------------------- 1.5/11.9 MB 2.2 MB/s eta 0:00:05
     ----- ---------------------------------- 1.6/11.9 MB 2.3 MB/s eta 0:00:05
     ------ --------------------------------- 1.8/11.9 MB 2.3 MB/s eta 0:00:05
     ------ --------------------------------- 1.9/11.9 MB 2.3 MB/s eta 0:00:05
     ------ --------------------------------- 2.0/11.9 MB 2.3 MB/s eta 0:00:05
     ------- -------------------------------- 2.2/11.9 MB 2.4 MB/s eta 0:00:05
     ------- -------------------------------- 2.3/11.9 MB 2.4 MB/s eta 0:00:04
     -------- ------------------------------- 2.5/11.9 MB 2.5 MB/s eta 0:00:04
     -------- ------------------------------- 2.7/11.9 MB 2.5 MB/s eta 0:00:04
     --------- ------------------------------ 2.8/11.9 MB 2.5 MB/s eta 0:00:04
     --------- ------------------------------ 2.9/11.9 MB 2.6 MB/s eta 0:00:04
     ---------- ----------------------------- 3.1/11.9 MB 2.6 MB/s eta 0:00:04
     ----------- ---------------------------- 3.3/11.9 MB 2.7 MB/s eta 0:00:04
     ----------- ---------------------------- 3.5/11.9 MB 2.7 MB/s eta 0:00:04
     ------------ --------------------------- 3.6/11.9 MB 2.7 MB/s eta 0:00:03
     ------------ --------------------------- 3.8/11.9 MB 2.7 MB/s eta 0:00:03
     ------------- -------------------------- 4.0/11.9 MB 2.8 MB/s eta 0:00:03
     -------------- ------------------------- 4.2/11.9 MB 2.8 MB/s eta 0:00:03
     -------------- ------------------------- 4.4/11.9 MB 2.9 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 2.9 MB/s eta 0:00:03
     ---------------- ----------------------- 4.8/11.9 MB 2.9 MB/s eta 0:00:03
     ---------------- ----------------------- 5.0/11.9 MB 3.0 MB/s eta 0:00:03
     ----------------- ---------------------- 5.2/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------ --------------------- 5.4/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------ --------------------- 5.5/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------- -------------------- 5.7/11.9 MB 3.1 MB/s eta 0:00:02
     -------------------- ------------------- 6.0/11.9 MB 3.1 MB/s eta 0:00:02
     -------------------- ------------------- 6.2/11.9 MB 3.2 MB/s eta 0:00:02
     --------------------- ------------------ 6.4/11.9 MB 3.2 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 3.2 MB/s eta 0:00:02
     ----------------------- ---------------- 6.9/11.9 MB 3.2 MB/s eta 0:00:02
     ----------------------- ---------------- 7.1/11.9 MB 3.3 MB/s eta 0:00:02
     ------------------------ --------------- 7.3/11.9 MB 3.3 MB/s eta 0:00:02
     ------------------------- -------------- 7.5/11.9 MB 3.3 MB/s eta 0:00:02
     -------------------------- ------------- 7.7/11.9 MB 3.4 MB/s eta 0:00:02
     -------------------------- ------------- 8.0/11.9 MB 3.4 MB/s eta 0:00:02
     --------------------------- ------------ 8.2/11.9 MB 3.4 MB/s eta 0:00:02
     ---------------------------- ----------- 8.4/11.9 MB 3.5 MB/s eta 0:00:02
     ----------------------------- ---------- 8.6/11.9 MB 3.5 MB/s eta 0:00:01
     ----------------------------- ---------- 8.9/11.9 MB 3.5 MB/s eta 0:00:01
     ------------------------------ --------- 9.1/11.9 MB 3.6 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 3.6 MB/s eta 0:00:01
     -------------------------------- ------- 9.6/11.9 MB 3.6 MB/s eta 0:00:01
     --------------------------------- ------ 9.8/11.9 MB 3.6 MB/s eta 0:00:01
     ---------------------------------- ----- 10.1/11.9 MB 3.7 MB/s eta 0:00:01
     ---------------------------------- ----- 10.3/11.9 MB 3.7 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 3.9 MB/s eta 0:00:01
     ------------------------------------ --- 10.9/11.9 MB 4.0 MB/s eta 0:00:01
     ------------------------------------- -- 11.1/11.9 MB 4.1 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 4.2 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 4.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247957 sha256=624198b934393478a3ef7c2a88edb8295fd375304f8c6f287b4b999b311d2de5
  Stored in directory: c:\users\arupp\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

### 3. Importing mysql.connector

In [3]:
import mysql.connector

### 4. Connecting MySQL

In [4]:
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        password='',
                        database='world')

### 5. Read Data from Table

In [5]:
pd.read_sql_query("SELECT * FROM City", conn)

C:\Users\arupp\AppData\Local\Temp\ipykernel_11284\1659129353.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM City", conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]